*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  overflow-x: hidden !important;
}

nav.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-top: 10px;
  position: relative;
}

nav.container img {
  max-width: 100%;
}

#largeScreen {
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  right: 50px;
}

#largeScreen li a {
  text-decoration: none;
  color: black;
  letter-spacing: 1.1px;
  display: block;
  padding: 8px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#largeScreen li a:hover {
  color: #fa5757;
}

.activeLink {
  background-color: #fa5757;
  color: white !important;
  border: 2px solid #fa5757;
  border-radius: 20px;
}

.activeLink:hover {
  background-color: white;
  color: #fa5757 !important;
}

#openBtn {
  position: absolute;
  top: 5px;
  right: 15px;
  display: none;
}

.modalNav {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 100%;
  background-color: rgba(21, 24, 40, 0.884);
  overflow: hidden;
  z-index: 10;
}

.modalNav .logo {
  margin: 10px auto;
  position: relative;
}

.modalNav .logo #logo {
  background-color: #fcfdfdd2;
  padding: 4px;
}

.modalNav .logo #closebtn {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.modalNav ul {
  padding: 0px;
  list-style: none;
  width: 75%;
  margin: 45px auto;
  text-align: center;
}

.modalNav ul li {
  padding: 20px 0;
  border-top: 2px solid white;
}

.modalNav ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.modalNav ul .darkActive {
  display: block;
  border: 2px solid white;
  padding: 10px 0px;
}

.modalNav .socialMedia {
  position: absolute;
  left: 49%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
}

.modalNav .socialMedia span {
  color: white;
  font-size: 30px;
}

.animOpen {
  -webkit-animation: modalOpen 0.2s forwards;
          animation: modalOpen 0.2s forwards;
}

@-webkit-keyframes modalOpen {
  0% {
    left: 100%;
  }
  100% {
    left: 0px;
  }
}

@keyframes modalOpen {
  0% {
    left: 100%;
  }
  100% {
    left: 0px;
  }
}

.animClose {
  -webkit-animation: modalClose 0.2s forwards;
          animation: modalClose 0.2s forwards;
}

@-webkit-keyframes modalClose {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes modalClose {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

/*///////////////// responsive navbar ////////////// */
@media (max-width: 790px) {
  nav #largeScreen {
    display: none;
  }
}

.heroCont {
  margin-top: 50px;
  margin-bottom: 50px;
}

.heroCont .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.heroCont .row .col1 {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heroCont .row .col2 {
  position: relative;
}

.heroCont .row .col2 .blueCont {
  background-color: #5368df;
  position: absolute;
  height: 70%;
  width: 100%;
  bottom: -20px;
  left: 30%;
  z-index: -1;
  border-bottom-left-radius: 38%;
}

.heroCont p {
  margin: 10px 0px;
}

.heroCont button {
  padding: 5px 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 5px;
  font-size: 2vw;
}

.heroCont button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.267);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.267);
}

.heroCont .chromebtn {
  color: white;
  background-color: #5368df;
  border: 1px solid #5368df;
  margin-right: 6px;
}

.heroCont .chromebtn:hover {
  color: #5368df;
  background-color: white;
}

.heroCont .firefoxbtn {
  color: black;
  background-color: #dfe6e9;
  border: 1px solid #dfe6e9;
}

.heroCont .firefoxbtn:hover {
  color: #3d3d3d;
  border: 1px solid #3d3d3d;
  background-color: white;
}

.heroCont img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .heroCont h1 {
    text-align: center;
  }
  .heroCont p {
    text-align: center;
  }
  .heroCont button {
    font-size: 4vw;
  }
  .heroCont .col1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.featureCont {
  margin-top: 40px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featureCont .headerContent {
  width: 70%;
}

.featureCont .headerContent h1 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.featureCont .headerContent p {
  text-align: center;
  color: black;
  font-size: 20px;
}

.featureCont .controls {
  margin: 50px 0px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featureCont .controls div.control {
  width: 34%;
  color: black;
  padding: 0 15px 15px 15px;
  border-bottom: 3px solid lightgray;
  font-size: 20px;
  word-wrap: none;
  text-align: center;
  cursor: pointer;
}

.featureCont .controls .activeControl {
  border-bottom: 3px solid red !important;
}

.featureCont .features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.featureCont .features .feature {
  width: 48%;
}

.featureCont .features .feature img {
  max-width: 100%;
}

.featureCont .features #featureImg {
  position: relative;
}

.featureCont .features #featureImg .blueCont {
  background-color: #5368df;
  position: absolute;
  height: 70%;
  width: 100%;
  bottom: -40px;
  right: 30%;
  z-index: -1;
  border-bottom-right-radius: 38%;
}

.featureCont .features .featureContent {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.featureCont .features .featureContent p {
  margin: 30px 0px;
  font-size: 20px;
}

.featureCont .features .featureContent button {
  padding: 5px 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background-color: #5368df;
  border: 1px solid #5368df;
}

.featureCont .features .featureContent button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.267);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.267);
  color: #5368df;
  background-color: white;
}

@media (max-width: 768px) {
  .featureCont .controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featureCont .controls div.control {
    width: 100%;
    margin-top: 10px;
  }
  .featureCont .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featureCont .features .feature {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featureCont .features .featureContent {
    margin-top: 30px;
  }
  .featureCont .features .featureContent p,
  .featureCont .features .featureContent h2 {
    text-align: center;
  }
}

section.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto 75px auto;
}

section.container .headerContent {
  width: 70%;
}

section.container .headerContent h1 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

section.container .headerContent p {
  text-align: center;
  color: black;
  font-size: 20px;
}

section.container .extensions {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.container .extensions .extension {
  width: 30%;
  padding: 20px 10px;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.192);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.192);
}

section.container .extensions .extension img {
  max-width: 100%;
  margin-bottom: 10px;
}

section.container .extensions .extension p {
  margin: 10px 0;
}

section.container .extensions .extension button {
  padding: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  background-color: #5368df;
  border: 1px solid #5368df;
}

section.container .extensions .extension button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.267);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.267);
  color: #5368df;
  background-color: white;
}

section.container .extensions .extension.chrome {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

section.container .extensions .extension.firefox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.container .extensions .extension.opera {
  margin-top: 70px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 768px) {
  section.container .extensions {
    width: 80% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.container .extensions .extension {
    width: 98% !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
}

.faq.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px auto;
}

.faq.container .headerContent {
  width: 70%;
}

.faq.container .headerContent h1 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.faq.container .headerContent p {
  text-align: center;
  color: black;
  font-size: 20px;
}

.faq.container .quesAns {
  width: 50%;
  margin-top: 50px;
}

.faq.container .quesAns .qaPair {
  padding: 15px 0px;
  border-top: 1px solid gray;
}

.faq.container .quesAns .qaPair .question {
  font-size: 17px;
  font-weight: 550;
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}

.faq.container .quesAns .qaPair .question:hover {
  color: red;
}

.faq.container .quesAns .qaPair .question i {
  position: absolute;
  right: 10px;
}

.faq.container .quesAns .qaPair .answer {
  padding-top: 30px;
  display: none;
}

.faq.container button {
  margin-top: 30px;
  padding: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  background-color: #5368df;
  border: 1px solid #5368df;
}

.faq.container button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.267);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.267);
  color: #5368df;
  background-color: white;
}

@media (max-width: 768px) {
  .quesAns {
    width: 90% !important;
  }
}

section.contactUs {
  width: 100%;
  background-color: #5368df;
}

section.contactUs .myContainer {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  padding: 50px 0px;
  text-align: center;
}

section.contactUs .myContainer > p {
  letter-spacing: 3px;
  color: white;
  text-transform: uppercase;
}

section.contactUs .myContainer h2 {
  color: white;
  margin: 20px 0px;
}

section.contactUs .myContainer form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
  font-size: 1.7rem;
}

section.contactUs .myContainer form .errorCont {
  width: 40%;
  margin-right: 10px;
}

section.contactUs .myContainer form .errorCont input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
}

section.contactUs .myContainer form .errorCont p {
  font-size: 14px !important;
  text-align: left;
  font-style: italic;
}

section.contactUs .myContainer form button {
  padding: 9px 15px;
  background-color: #fa5757;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #fa5757;
  border-radius: 5px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

section.contactUs .myContainer form button:hover {
  background-color: white;
  color: #fa5757;
}

.errorClass {
  background-color: #fa5757;
  border-radius: 5px;
  padding: 4px;
  color: white;
}

.successClass {
  background-color: #57fa5f;
  border-radius: 5px;
  padding: 4px;
  color: #3d3d3d;
}

@media (max-width: 768px) {
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  form .errorCont {
    width: 100% !important;
    margin: 10px 0px !important;
  }
  form button {
    width: 60%;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
  }
}

footer {
  background-color: #8497eb;
  padding: 20px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container ul {
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

footer .container ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 1.1px;
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .container ul li a:hover {
  color: #fa5757;
}

footer .container .SocialsInfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
}

footer .container .SocialsInfooter span {
  color: white;
  font-size: 25px;
  color: #252b46;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

footer .container .SocialsInfooter span:hover {
  color: #fa5757;
}

@media (max-width: 768px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0px;
  }
}
/*# sourceMappingURL=main.css.map */